#example-1 {
    color: rebeccapurple;
    padding: 20px 20px 10px 10px;
    width: 300px;
    border: 2px solid red;
    margin: 20px 20px 10px 10px;
}
#example-2 {
    color: wheat;
    background-color: red;
    border-radius: 50px;
    width: 500px;
    padding: 10px 10px 20px 20px;
    margin: 20px 20px 20px 20px;
}
#example-3 {
    color: tomato;
    background-color: black;
    border-color: white;
    border:  5px dashed white;
    width: 200px;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px;
}
#example-4 {
    color: palevioletred;
    background-color: yellow;
    width: 300px;
    border: 2px double black;
    border-bottom-left-radius: 20px;
    padding: 20px 20px 20px 20px;
    border-top-right-radius:50px ;
}
